PORT=4000
NODE_ENV=development
DEBUG_MODE=false
CLIENT_URL=http://localhost:5173

MONGO_URI=mongodb+srv://niladrip347_db_user:kL4bgMgFxzG8NZxe@cluster0.9lit3t5.mongodb.net/?appName=Cluster0
mongo_username:niladrip347_db_user
mongo_password:kL4bgMgFxzG8NZxe